@model Airport_Database.Models.ExpertiseIn

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExpertiseIn</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelNoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelNoNavigation.ModelNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SsnNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SsnNavigation.Name)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
